.auth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  padding: 3em;
}

.auth__box {
  width: 52%;
}

.auth__title {
  font-family: "Ferry";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.auth__title_mobile {
  display: none;
}

.characters {
  margin-left: 6.25em;
}

/*SIGN IN COMPONENT*/

.sign-in {
  min-width: 27em;
  height: 33em;
}

.sign-in__icon {
  position: absolute;
  margin: -2em;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 6%;
}

.nav-underline .nav-link {
  color: #c7c7c7;
  font-weight: 400;
}

.nav-underline .nav-link.active {
  color: #029491;
  font-weight: 400;
}

.form-label {
  color: #949494;
}

.submit-btn:disabled {
  background-color: #5970ff;
  border-color: #5970ff;
}

.submit-btn:hover {
  background-color: #5970ff;
  border-color: #5970ff;
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.submit-btn {
  width: 19em;
  background-color: #5970ff;
  border-color: #5970ff;
}

.reset-password {
  border-color: #5970ff;
  color: #5970ff;
}

.sign-in__social-btn {
  background-color: #ffff;
  border: none;
  padding: 0;
  margin-right: 5%;
}

/*MOBILE*/

@media screen and (max-width: 720px) {
  .auth {
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 1em;
  }
  .auth__title {
    display: none;
  }

  .auth__title_mobile {
    display: inline;
    margin-bottom: 3em;
    height: 7em;
    color: #000;
    font-family: "Ferry";
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.44px;
  }

  .auth__box{
    width: 100%;
  }

  .sign-in {
    min-width: 21em;
  }

  .sign-in__social-btn{
    margin: 0 auto;
  }

  .sign-in__icon{
    margin: -4em 6em;
  }

  .submit-btn {
    width: 13em;
  }



  .characters{
    width: 100%;
    margin: 0 auto;
  }
}
