@font-face {
  font-family: "Ferry";
  src: url(./../../fonts/ferry_black.otf);
}
.auth{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  margin-top: 50px;
}

.auth__box{
  width: 52%;
}

.auth__title{
  font-family: 'Ferry';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.characters {
  margin-left: 100px;
}

/*SignIn component*/
.sign-in {
  
}
form{

}